<div class="eshop-badges">
  {% spaceless %}
    {% if post.get_field('is_shoptet') %}
      <span class="eshop-badge eshop-badge-shoptet">shoptet</span>
    {% endif %}
    {% if post|is_new %}
      <span class="eshop-badge eshop-badge-new">novinka</span>
    {% endif %}
  {% endspaceless %}
</div>
