<div class="eshop-contact">
  {% if post.get_field('seller_name') or post.get_field('seller_position') or post.get_field('seller_about_you') %}
    <div class="mb-4">
      <h2 class="h-heavy">O majiteli</h2>

      {% if post.get_field('seller_name') or post.get_field('seller_position') %}
        <p class="mb-0">
          <span class="fs-110 font-weight-bold">
          {{ post.get_field('seller_name') ?: '<em>Jméno neuvedeno</em>' }}
          </span>

          {% if post.get_field('seller_position') %}
            <small class="text-muted">
              {{ post.get_field('seller_position') }}
            </small>
          {% endif %}
        </p>
      {% endif %}

      {% if post.get_field('info_about_you') %}
        <div class="font-italic">
          {{ post.get_field('info_about_you') }}
        </div>
      {% endif %}

    </div>
  {% endif %}

  <h3 class="h-heavy mb-3">Kontaktovat majitele</h3>

  <div>
    <div class="form-group">
      <label class="required" for="name">Vaše jméno</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label class="required" for="email">Váš e-mail</label>
      <input type="e-mail" class="form-control">
    </div>
    <div class="form-group">
      <label class="required" for="text">Zpráva majiteli e-shopu</label>
      <textarea class="form-control" rows="5"></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-block">Odeslat</button>
  </div>

</div>
