.eshop-thumbnail {
  display: block;
  padding: 1rem 1.25rem;
  font-size: $font-size-base * .9;
  color: $text-muted;
  border: 1px solid $gray-300;
  border-radius: $border-radius;

  @include hover-focus {
    color: $text-muted;
    border: 1px solid $link-color;
    text-decoration: none;
  }

  .eshop-badges {
    position: absolute;
    top: 0;
    right: -1.25rem;
    margin-right: -1px;
  }
}

.eshop-thumbnail-title {
  font-size: $font-size-base * 1.2;
  font-weight: $font-weight-normal;
  color: $blue;
}

.eshop-thumbnail-price {
  color: $body-color;
}

.eshop-thumbnail-wrapper {
  position: relative;
}

.eshop-thumbnail-screen {
  position: relative;
  padding-bottom: 60.9%; // 780/1280 resolution of large screen thumbnail

  img {
    position: absolute;
    width: 100%;
  }
}
