.page-row {
  padding-bottom: 3rem;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 2rem;
  }

  .page-row-title {
    margin-top: 0;
  }

  blockquote {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    font-size: 120%;
    color: $gray-500;
    font-style: italic;

    p::before {
      content: '„';
    }

    p::after {
      content: '“';
    }
  }

  ul, ol {
    padding-left: 0;

    li {
      display: block;
      position: relative;
      padding-left: 1.5rem;
    }

    li::before {
      position: absolute;
      left: 0;
    }
  }

  ul {
    li::before {
      display: inline-block;
      top: .2rem;
      height: 1rem;
      width: 1rem;
      content: '';
      vertical-align: -.125em;
      background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='#{$blue}' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'/%3E%3C/svg%3E"), "#", "%23");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  ol {
    counter-reset: item;

    li::before {
      content: counter(item) ". ";
      counter-increment: item;
      color: $blue;
      font-weight: $font-weight-bold;
    }
  }

}

.page-row-thumbnail {
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: $border-radius;
}
