{% extends "base.twig" %}


{% block content %}
<div class="row-404">
	<div class="container">

		<h1 class="text-primary">{{ wp_title }}</h1>

		{% if not_found_text %}
			<div class="lead mt-4">
				{{ not_found_text }}
			</div>
		{% endif %}

		<img
			class="row-404-image mt-4"
			src="{{ "shoptetrix-meditate.png"|static_assets }}"
			width="300"
			alt="Shoptetrix"
		>

	</div>
</div>
{% endblock %}
