{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<form action="{{ archive_link }}" method="get">

			{% if search_query %}
				<input type="hidden" name="s" value="{{ search_query }}">
			{% endif %}

			<div class="row">
				<div class="col-12 col-md-4 col-lg-3">

					{% include 'eshop/filters.twig' %}

				</div>
				<div class="col-12 col-md-8 col-lg-9">

					{% include 'eshop/sort.twig' %}

					<hr class="mb-4">

					<div class="row">
						{% for post in posts %}
							<div class="col-12 col-md-6 col-xl-4">
								{% include 'eshop/thumbnail.twig' %}
							</div>
						{% endfor %}
					</div>

					{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

				</div>
			</div>
		</form>
	</div>
{% endblock %}
