{% extends "base.twig" %}

{% block content %}
	<div class="page-row">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">

					<article>
						<h1 class="page-row-title">{{ post.title }}</h1>

						{% if post.thumbnail %}
							<img
								class="page-row-thumbnail"
								src="{{ post.thumbnail.src('large') }}"
								alt="{{ post.title }}"
							>
						{% endif %}

						{{post.content}}
					</article>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
