$font-family-wf-active: 'Source Sans Pro', sans-serif;
$headings-font-family-wf-active: 'Libre Franklin', sans-serif;

$no-ui-handle-size: 16px;
$no-ui-line-height: 5px;

$facebook-color: #3b5998;
$twitter-color: #1DA1F2;
$instagram-color: #e4405f;
