<div class="row-section bg-light">
  <div class="container">

    <h2 class="row-section-title h4">
      Nevybrali jste si? Začněte od začátku
    </h2>

    <p class="mb-4 text-center">
      Založte si nezávazně vlastní testovací e-shop na Shoptetu
    </p>

    <form class="cta-form" method="post" target="_blank" action="https://www.shoptet.cz/projectAction/ShoptetTrial/CreateTrialProject/">

      <div class="card p-2 mb-2">
        <div class="d-sm-flex">
          <input type="hidden" name="refererUrl" value="https://www.eshopiste.cz/">

          <input
            type="email"
            class="form-control form-control-lg border-0 rounded-0 mb-2 mb-sm-0 mr-sm-2"
            name="email"
            placeholder="Vložte e-mail"
            required
          >

          <button class="btn btn-orange cta-form-btn px-3 text-uppercase" type="submit">
            Vyzkoušejte si nás<br>
            <span class="font-weight-light">Férově a bez závazků</span>
          </button>

        </div>
      </div>

      <p class="mb-0">
        Vložením e-mailu souhlasím s
        <a href="https://www.shoptet.cz/podminky-ochrany-osobnich-udaju/" target="_blank">
          podmínkami ochrany osobních údajů
        </a>
      </p>

    </form>

  </div>
</div>
